<?xml version="1.0"?>
<model>
  <name>Ackermann Robot</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Marc Wester</name>
    <email>marc.wester@gmail.com</email>
  </author>
  <description>
    An Ackermann steering robot with ultrasonic and camera sensors.
  </description>
</model>
